/* 上半部分布局 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
#header {
  height:200px;
  width: 100%;
  background-image:url("http://127.0.0.1:8000/Movie/recommand_top.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header input{
  width:320px;
  height:25px;
}

/* 下半部分布局 */
#content {
  height: 70%;
  width: 100%;
  display: flex;
}


a:link {
  text-decoration: none;
}

a {
  color: black;
}


a:hover {
  color: #e0d1d1;
  text-decoration: none;
}

#left {
  flex: 7;
  padding: 18px;
}

#right {
  flex: 3;
  padding: 10px;
}

/* 表格样式 */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* 推荐电影列表样式 */
#recommendations {
  list-style-type: none;
  padding: 0;
}

#recommendations li {
  margin-bottom: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

#recommendations li:hover {
  background-color: #f1f1f1;
}

.searchs button{
  width:50px;
  height: 30px;
}

.exit{
  position:flex;
  margin-right: -1430px;
  margin-top: -60px;
  background-color:rgb(9, 7, 5);
  border:2px solid rgb(9, 7, 5);
  color:white;
  cursor:pointer;
}

.Type{
  position:absolute;
  margin-right: 1320px;
  margin-bottom: 150px;
}

.Type button{
  background-color: rgb(61, 57, 57);
  color:white; 
}