body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 200px; /* 上下内边距为10像素，左右内边距为20像素 */
  }

  
/* 上部分样式 */
.header {
    height: 20%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}

/* .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
} */
.search-box form {
    display: flex;
    align-items: center;
  }
  
.search-box input[type="text"],
.search-box input[type="submit"] {
    margin: 0 5px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 80%;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* 下部分样式 */
.content {
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.left-content {
    flex-basis: 70%;
    padding: 20px;
    background-color: #fff;
}

.right-content {
    flex-basis: 30%;
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
    position: fixed;

    right: 0;
    width: 25%;
    float: right;
}
/* .right-content {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  } */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.movie-list {
    width: 100%;
    text-align: center;
}

.movie-list li {
    padding: 5px;
    font-size: 16px;
    list-style: none;
    border-bottom: 1px solid #ddd;
}
#popup-wrapper {
    position: fixed;  /* 使用 fixed 定位，使弹窗在浏览器窗口内固定位置 */
    top: 0;  /* 将弹窗顶部与页面顶部对齐 */
    left: 0; /* 将弹窗左侧与页面左侧对齐 */
    width: 100%; /* 弹窗宽度与浏览器窗口宽度相同 */
    height: 100%; /* 弹窗高度与浏览器窗口高度相同 */
    background-color: rgba(0, 0, 0, 0.5); /* 设置半透明的黑色背景 */
    z-index: 9999; /* 将弹窗的层级设置为最高，使其位于其他元素之上 */
    display: flex; /* 将子元素居中显示 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }